@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');



*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
}

ul {
  list-style: none;
}

a {
  font: inherit;
  text-decoration: none;
}

button {
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;
    text-decoration: none;
    
}

img {
  display: block;
  margin-inline: auto;
}